.deadlines {
  margin-top: -195px;
  padding-top: 117px;
  padding-bottom: 100px;
  background-color: #f3ede8;
  clip-path: polygon(0 0%, 100% 0%, 100% 75%, 0 100%);
  min-height: 720px;
  @media (max-width: 1200px) {
    margin-top: -292px;
  }

  @media (max-width: 991px) {
    padding-bottom: 200px;
    clip-path: polygon(0 0%, 100% 0%, 100% 93%, 0 98%);
  }

  &__date {
    margin-top: 112px;
    font-family: $ExtraBold-font;
    font-size: $desc-size-f;
    margin-bottom: 35px;
    @media (max-width: 991px) {
      margin-top: 35px;
    }
  }

  &__button {
    margin-bottom: 37px;
  }

  &__text {
    font-size: $desc-size-f;
  }

  &__img {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__progress {
    margin: 22px auto 0;
    width: 300px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 991px) {
      margin-bottom: 35px;
      width: 255px;
    }
  }

  &__progress-item {
    width: 8px;
    height: 34px;
    background-color: $white;
    transform: skew(-29deg, 0);
    &.active {
      background-color: $gray;
    }
  }
}