.experience {
  clip-path: polygon(0 17%, 129% 0%, 100% 100%, 0 100%);
  background-color: $experience-color;
  margin-top: -264px;
  padding-top: 165px;
  padding-bottom: 185px;
  @media (max-width: 767px) {
    clip-path: polygon(0 6%, 153% 0%, 100% 100%, 0 100%)
  }

  &__title {
    margin-bottom: 23px;
  }

  &__text {
    font-family: $bold-font;
    font-size: $desc-size-f;
    margin-bottom: 57px;
  }

  &__photo {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    margin-top: 47px;
  }
}