.result{
  position: relative;
  padding-top: 47px;
  padding-bottom: 76px;
  background-image: url(../img/bg-result.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    margin-bottom: 78px;
  }

  &__dark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($dark, 0.3);
  }

  &__item {
    border: 2px solid $yellow;
    margin-bottom: 56px;
    padding: 85px 50px 60px 50px;
    border-radius: 40px;
    text-align: center;
    position: relative;
  }

  &__text {
    margin-bottom: 0;
    line-height: 24px;
  }

  &__icon {
    position: absolute;
    top: -32px;
    left: 50%;
    margin-left: -45px;
  }
}